<!DOCTYPE html>
<html>
<head>
    <!--
    Timeline Template
    http://www.templatemo.com/preview/templatemo_427_timeline
    -->
    <title>Dollar Auction House</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/templatemo-style.css">

    <!-- JavaScripts -->
    <script src="static/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="static/js/vendor/modernizr.min.js"></script>

</head>
<body>

    <header class="site-header" id="top">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"
                                data-toggle="collapse" data-target=".navbar-collapse">
                          <i class="fa fa-bars"></i>
                        </button>
                        <div class="logo-wrapper">
                            <a class="navbar-brand">
                                <p>D<em>ollar</em> A<em>uction</em> H<em>ouse</em></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div id="third-section">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="third-section3">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Server is not down <3</h3>
                        <h3>( ͡°ω ͡°)</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>