<!DOCTYPE html>
<html>
<head>
    <!--
    Timeline Template
    http://www.templatemo.com/preview/templatemo_427_timeline
    -->
    <title>Dollar Auction House</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/templatemo-style.css">

    <!-- JavaScripts -->
    <script src="static/js/vendor/jquery-1.10.2.min.js"></script>
    <script src="static/js/vendor/modernizr.min.js"></script>

</head>
<body>
    <header class="site-header" id="top">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed"
                                data-toggle="collapse" data-target=".navbar-collapse">
                          <i class="fa fa-bars"></i>
                        </button>
                        <div class="logo-wrapper">
                            <a class="navbar-brand" href="#">
                                <p>D<em>ollar</em> A<em>uction</em> H<em>ouse</em></p>
                            </a>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse" id="main-menu">
                        <ul class="nav navbar-nav navbar-right">
                            <li><span></span><a href="#first-section" class="about">Game</a></li>
                            <li><span></span><a href="#second-section" class="portfolio">Bids</a></li>
                            <li><span></span><a href="#results" class="results">Results</a></li>
                            <li><span></span><a class="player">Player: {{ name }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div id="big-banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <ul class="main-icons">
                        <li><a href="#first-section"><i class="fa fa-gamepad"></i>Game</a></li>
                        <li><a href="#second-section"><i class="fa fa-money"></i>Bids</a></li>
                        <li><a href="#results"><i class="fa fa-bar-chart-o"></i>Results</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="first-section">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="header-section-title">Game</h2>
                    </div>
                </div>
                {% if admin: %}
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form">
                                <div class="input-group">
                                    <div class="submit">
                                        <input type="submit" value="Start New Game" />
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div id="first-section1">
        <div class="container">
            <div class="row">
                <table class="table center">
                    <tbody>
                        <tr>
                            <td>
                                <div class="col-md-12">
                                    <form class="form">
                                        <div class="input-group">
                                            <input type="number" name="bid" id="bid" placeholder=0 />
                                            <div class="submit">
                                                <input type="submit" value="Place bet" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                            <td>
                                <div class="contact-discription">
                                    <h4>Make a bid!</h4>
                                    <p>Bet higher stake then your opponents to win the main prize!
                                    <br><br>
                                    <strong>But remember...</strong><br>
                                    ...you have to pay the bid you made!
                                    </p>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="second-section">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Bids</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="second-section2">
        <div class="container">
            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Bid</th>
                        <th scope="col">Result</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for player in players %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ player[1] }}</td>
                                <td>{{ player[2] }}</td>
                                <td></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="results">
        <div class="heading">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Results</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="results2">
        <div class="container">
            <div class="row">
                {% if results: %}
                    <table class="table">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                            <th scope="col">Bid</th>
                            <th scope="col">Result</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for result in results %}
                                <tr>
                                    <th scope="row">{{ loop.index }}</th>
                                    <td>{{ player[1] }}</td>
                                    <td>{{ player[2] }}</td>
                                    <td></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else: %}
                    <h4> No results to show yet :( </h4>
                {% endif %}
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="copyright-text">
                                <p>Copyright &copy; Adam, 2019</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="back-to-top">
                                <a href="#top">Back To Top</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="social-icons">
                                <ul>
                                    <li><a href="#" class="#"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Javascripts -->
    <script type="text/javascript" src="static/js/vendor/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/js/custom.js"></script>

</body>
</html>